body{background-color:black;
padding:10px;
display: flex;
gap: 10px;
}

img{
    margin:auto;
    border-radius: 10%;
    width: auto;
   
}
.clear {
    clear: both;
}

.text{
    width: 70%;
    
    box-sizing: border-box; 
    border-radius: 10%;
    
}

.centro{
   text-align: center; 
}